.navbar-default{

    background-color: #009ABF;
}

.container {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  padding-left: 30px;
  padding-right: 30px;  
}

html {
    background-color: #E3E3E3;
}

.navba, .navbar-default{
  margin-bottom: 0px;
}

.row {
  padding-left: 30px;
  background: #E3E3E3;

}


.btn {
  border: 0px;
  border-bottom: 20px;
  border-bottom-color: black;
}


.btn-default {
  background-color: white;
  color: #009ABF;
}