@charset "UTF-8";
/* CSS Document */

/* ---- CONFIGURAÇÃO GLOBAL ---- */

div, span, body, img, ul, li{
	margin:0px;
	padding:0px;
	}

a{
	text-decoration:none;
}

.rounded-corner{
	border-radius:5px;
	}

body{
	background-color:#E3E3E3;
	font-family:Arial;
	font-size:14px;
	}

/* */
.header{
	width:100%;
	background-color: #009ABF;
	border-color: #007B9B;
	border-style:solid;
	border-width: 0px 0px 4px 0px;
	height:57px;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 20px 0px;
	}
.logo {
  width: auto; 
  margin: 12px 0px 0px 30px;
  padding: 0px;
  float: left;
	}
.profile{
	width:auto;
	display:block;
	position:relative;
	float:right;
	margin:08px 30px 0px 0px;
	color:#D9F0F5;
	}
.photo-profile{
	float:left;
	margin:0px 10px 0px 0px;
	display:block;
	}
.name-profile{
	float:left;
	display:block;
	margin:3px 0px 3px 0px;
	font-size:15px;
	}
.role-profile{
	display:block;
	font-size:12px;
	}
/* ---- CONFIGURAÇÃO DO CONTAINER GETRAL - AGRUPADOR DO CONTEÚDO EM BAIXO DA BARRA ---- */
.container-geral{
	margin: 0px 0px 0px 0px;
	float: left;
	position: relative;
	width: 100%;
	}
/* ---- CONFIGURAÇÃO DAS COLUNAS ---- */
.col-1{
	position: relative;
	/* margin: 0px 0px 20px 20px; */
	/* left: 50%; */
	width: 100%;
	}
.col-2{
	float: left;
	position: relative;
	margin: 0px 0px 0px 0px;
	width: 100%;
	}

.content-highlight{
	position:absolute;
	left:50%;
	width:800px;
	margin:50px 0px 0px -400px;
	text-align:center;
	}

/* ---- CONFIGURAÇÃO DE BOTÃO DESTAQUE ----  */
.btn-destaque{
	display:block;
	float:left;
	position:relative;
	text-align:center;
	background-color:#FFFFFF;
	padding:20px;
	margin:5px;
	width:330px;
	height:258px;
	font-size:20px;
	}
.btn-line{
	border-width:1px 1px 3px 1px;
	border-color:#CFCFCF;
	border-style:solid;
	}
.btn-line-blue{
	border-width:1px 1px 3px 1px;
	border-color:#007B9B;
	border-style:solid;
	}
.btn-destaque img{
	margin:60px 0px 20px 0px;
	}
.btn-destaque a{
	display:block;
	text-align:center;
	text-decoration:none;
	}
a:hover{
	border-width:1px 1px 1px 1px;
	}
/* ---- BOTÃO VOLTAR ----  */
.btn-voltar{
	display:block;
	float:left;
	position:relative;
	background-color:#FFFFFF;
	padding:17px 20px 0px 20px;
	margin:5px;
	width:210px;
	height:38px;
	font-size:20px;
	text-transform:uppercase;
	}
.btn-voltar a{
	display:block;
	text-decoration:none;
	margin:0px 0px 20px 0px;
	}
.btn-voltar img{
	float:left;
	margin:-5px 15px 0px 0px;
	}
	
/* ---- BOTÃO CADASTRAR ----  */
.btn-cadastrar{
	display:block;
	float:left;
	color:#FFFFFF;
	text-align:center;
	position:relative;
	background-color:#0099C1;
	padding:17px 20px 0px 20px;
	margin:5px;
	width:290px;
	height:38px;
	font-size:20px;
	text-transform:uppercase;
	}
.btn-cadastrar a{
	display:block;
	text-decoration:none;
	margin:0px 0px 20px 0px;
	}
/* ---- COLOR ----  */
.clr-cinza-escuro{
	color:#999999;
	}
.clr-cinza-claro{
	color:#BBBBBB;
	}
.clr-azul-claro{
	color:#43ADCF;
	}
.clr-azul-medio{
	color:#0098C3;
	}
.clr-verde-escuro{
	color:#3A5F32;
	}


/* ---- CONFIGURAÇÃO DA ÁREA DE CADASTRO ---- */
.container-cadastro{
	width: 380px;
	background-color: #F7F7F7;
	position: relative;
	margin: 0px 0px 0px -165px;
	float: left;
	left: 50%;
	}
.header-cadastro{
	width:auto;
	padding:25px 20px 30px 20px;
	}
.header-cadastro h2{
	width:100%;
	font-size:25px;
	margin:0px;
	padding:0px;
	font-weight:100;
	}
.header-cadastro h4{
	width:100%;
	font-size:15px;
	margin:0px;
	padding:0px;
	font-weight:100;
	}
.camera{
	width: 380px;
	height: 250px;
	background-color: #cccccc;
	float: left;
	position: relative;
	}
.camera img{
  position: absolute;
  top: 0px;
	}
.formulario{
	margin:20px;
	float:left;
	position:relative;
	}
.msg-area{
	position:relative;
	margin:0px 6px 20px 6px;
	}
.msg-area div{
	padding:20px;
	font-size:16px;
	}
.msg-area div img{
	float:left;
	margin:-6px 20px 0px 0px;
	font-size:16px;
	}
.msg-alert{
	background-color:#F9F9BE;
	border:1px #DEDEDE solid;
	text:15px #ccc;
	color:#99997F;
	}
.msg-success{
	background-color:#DCFFDD;
	border:1px #C6D9C7 solid;
	text:15px #ccc;
	color:#3A5F32;
	}
.msg-error{
	background-color:#C86A6A;
	border:1px #A75A58 solid;
	text:15px #ccc;
	color:#FFFFFF;
	}
.formulario input {
	position: relative;
	width: 299px;
	margin: 0px 5px 10px 5px;
	height: 50px;
	border: 1px solid #ccc;
	padding: 0px 15px 0px 15px;
	font-size: 16px;
	color: #ccc;
	font-weight: 100;
}
/* ---- LISTA DE OS  */
.container-lista-os{
	width: 750px;
	background-color: #F7F7F7;
	position: relative;
	margin: 0px 0px 0px -375px;
	float: left;
	left: 50%;
	}
.header-lista{
	width:710px;
	padding:25px 20px 20px 20px;
	border-bottom:1px dotted #ccc;
	margin: 0px 0px 5px 0px;
	float: left;
	}
.header-lista h2{
	width:100%;
	font-size:25px;
	margin:0px;
	padding:0px;
	font-weight:100;
	}
.header-lista h4{
	width:100%;
	font-size:15px;
	margin:0px;
	padding:0px;
	font-weight:100;
	}
.lista-itens-os{
	float:left;
	position:relative;
	padding: 0px 25px 25px 25px;
	}
.lista-itens-os a{
	width:690px;
	padding: 0px;
	}
.lista-itens-os .numero-list{
	padding:0px;
	float:left;
	position:relative;
	font-size:28px;
	/*color:#8A8C91;*/
	border-right:1px dotted #ccc;
	width:70px;
	margin:0px 25px 0px 0px;
	padding:30px 0px 0px 0px;
	text-align:center;
	height:68px;
	}
.btn-lista-os{
	display:block;
	float:left;
	position:relative;
	background-color:#FFFFFF;
	padding:17px 20px 0px 20px;
	margin:5px;
	height:98px;
	font-size:20px;
	}
.container-os-item{
	margin:20px 0px 0px 0px;
	}
.titulo-os{}


.btn-lista-os-criado{
	display:block;
	float:left;
	position:relative;
	background-color:#DCFFDD;
	padding:17px 20px 0px 20px;
	margin:5px;
	height:98px;
	font-size:20px;
	border-color:#C6D9C7;
	}
.sucesso-check{
	float:right;
	position:relative;
	margin:-20px 25px 0px 0px;
	}




.motivo-tarefa{
	border:1px solid #DFDFDF;
	background-color:#FFFFFF;
	padding:20px;
	font-size:16px;
	}




/* ---- PROGRESS BAR ---- */
.progress-bar{
	color: #0063a6;
	font-size: 15px;
	width: 250px;
	height: 15px;
	border-top: 1px solid #E1E1E1;
	background: #F0F0F0;
	float: left;
	margin: 5px 0px 0px 0px;
	}
.progress-bar .bar{
	width: 50%;
	height:inherit;
	background-color: #009ABF;
	}

/* ==== FOTO ==== */
.foto-destaque-tarefa{
	margin:0px 20px 20px 0px;}

/* ==== DESCRIÇÃO DA TAREFA ==== */
.container-descricao-tarefa{
	float:left;
	position:relative;
	padding: 0px 25px 25px 25px;
	}
.descricao-tarefa{
	display:block;
	width:695px;
	float:left;
	margin:0px 0px 10px 0px;
	padding:0px 0px 0px 0px;
	position:relative;
	}

/* ==== AGRUPAR DE MENUS ==== */
.nav-footer-page{
	display: block;
	position: relative;
	float: left;
	width: 100%;
	}
.nav-footer-page div{
	display:block;
	float:left;
	position:relative;
	}
.nav-secundario{
	display:block;
	margin:0px 0px 0px 0px;
	width:50%;
	}
.nav-primario{
	display:block;
	width:50%;
	margin:0px 0px 0px 0px;
	float:right !important;
	position:relative;
	}

/* ---- BOTÃO PRIMÁRIO PADRÃO ----  */
.btn-primario{
	display: block;
	float: right;
	position: relative;
	background-color: #008eb7;
	padding: 17px 20px 0px 20px;
	margin: 5px;
	height: 38px;
	font-size: 20px;
	text-transform: uppercase;
	color: #fff;
	border-color: #007B9D;
	}
.btn-primario a{
	display:block;
	text-decoration:none;
	margin:0px 0px 20px 0px;
	}
.btn-primario img{
	float:left;
	margin:-5px 15px 0px 0px;
	}
	
/* ---- BOTÃO PRIMÁRIO PADRÃO ----  */
.btn-secundario{
	display:block;
	float:left;
	position:relative;
	background-color:#FFFFFF;
	padding:17px 20px 0px 20px;
	margin:5px;
	height:38px;
	font-size:20px;
	text-transform:uppercase;
	}
.btn-secundario a{
	display:block;
	text-decoration:none;
	margin:0px 0px 20px 0px;
	}
.btn-secundario img{
	float:left;
	margin:-5px 15px 0px 0px;
	}
	





/* ==== MODAL ==== */
.modal .btn-close {
	color: #aaaaaa;
	cursor: pointer;
	font-size: 30px;
	text-decoration: none;
	position: absolute;
	right: 5px;
	top: 0;
}
.modal .btn-close:hover {
	color: #919191;
}
.modal-wrap:before {
	content: "";
	display: none;
	background: rgba(0, 0, 0, 0.6);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 101;
}
.modal-overlay {
	bottom: 0;
	display: none;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 102;
}
.modal-open:checked ~ .modal-wrap:before,
.modal-open:checked ~ .modal-wrap .modal-overlay {
	display: block;
}
.modal-open:checked ~ .modal-wrap .modal-dialog {
	-webkit-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	-o-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
	top: 20%;
}
.modal-overlay {
	bottom: 0;
	display: none;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 102;
}
.modal-dialog {
	background: #fefefe;
	border: #555555 solid 1px;
	border-radius: 5px;
	position: fixed;
	left: 50%;
	top: -100%;
	/* -webkit-transform: translate(-50%, -500%);
	-ms-transform: translate(-50%, -500%);
	-o-transform: translate(-50%, -500%);
	transform: translate(-50%, -500%);
	-webkit-transition: -webkit-transform 0.3s ease-out;
	-moz-transition: -moz-transform 0.3s ease-out;
	-o-transition: -o-transform 0.3s ease-out;
	transition: transform 0.3s ease-out;*/
	width: 80%;
	max-width: 600px;
	z-index: 103;
}
.modal-body {
	padding: 40px 40px 10px 40px;
	float: left;
}
.modal-body p {
	margin: 0;
}
.modal-header,
.modal-footer {
	padding: 20px 20px;
	float: left;
}
.modal-header {
	border-bottom: #eaeaea solid 1px;
}
.modal-header h2 {
	font-size: 20px;
	margin: 0;
}
.modal-footer {
	text-align: right;
}
.img-modal{
	float: left;
	margin: 0px 20px 0px 0px;
	position: relative;
	display: block;
	}
	
.timer-gravacao .img-modal{
	float: left;
	margin: 0px 20px 0px 140px;
	position: relative;
	display: block;
	}

.img-gravacao{
	float: left;
	margin: -10px 0px 0px 0px;
	position: relative;
	display: block;
	}

.titulo-modal-body{
	font-size: 24px;
	width: inherit;
	color: #4BB6D7;
	font-weight: 100;
	margin: 5px 0px 0px 0px;
	width: 400px;
	display: block;
	float: left;
	position: relative;
	}

/* ==== CONFIGURA TIMER GRAVAÇÃO ==== */
.timer-gravacao{
	font-size: 40px;
	color: #707067;
	margin: 0px 0px 0px 0px;
	position: relative;
	float: left;
	width: 200px;
	}

@keyframes fnd-animadodd{
    from { width: 0%; }
    to { width: 100%; }
	/*from { background-position: 0 0; }
	to { background-position: 100% 0; }*/
}

.fnd-animado{
	width: 0%;
	background-color: #F43538;
	height: 100%;
	position: absolute;
	z-index:1px;
	top: 0px;
	left: 0px;
	animation: fnd-animadodd 2s linear running;
}

/* ====  ==== */
.trasitionsdivs {
	width: 100%;
}
.trasitionsdivs #lineardiv {
	-webkit-transition: 3s linear;
	-moz-transition: 3s linear;
	-o-transition: 3s linear;
	transition: 3s linear;
}
.trasitionsdivs div {
	width: 20%;
	background: #DDD;
	margin: 5px 0;
	border: 1px solid #999;
	padding: 3px;
	height: 20px;
}

.trasitionsdivs:hover #easediv {
width:70%;
-webkit-transition: 3s ease;
-moz-transition: 3s ease;
-o-transition: 3s ease;
transition: 3s ease;
}
.trasitionsdivs:hover #lineardiv {
width:70%;
-webkit-transition: 3s linear;
-moz-transition: 3s linear;
-o-transition: 3s linear;
transition: 3s linear;
}
.trasitionsdivs:hover #easeindiv  {
width:70%;
-webkit-transition: 3s ease-in;
-moz-transition: 3s ease-in;
-o-transition: 3s ease-in;
transition: 3s ease-in;
}
.trasitionsdivs:hover #easeout {
width:70%;
-webkit-transition: 3s ease-out;
-moz-transition: 3s ease-out;
-o-transition: 3s ease-out;
transition: 3s ease-out;
}
.trasitionsdivs:hover #easeinoutdiv {
width:70%;
-webkit-transition: 3s ease-in-out;
-moz-transition: 3s ease-in-out;
-o-transition: 3s ease-in-out;
transition: 3s ease-in-out;
}

