@charset "UTF-8";
/* CSS Document */

div, span, body, img {
	margin:0px;
	padding:0px;
	}

body{
	background-color:#E3E3E3;
	font-family:Arial;
	font-size:14px;
	}
.header{
	width:100%;
	background-color: #009ABF;
	border-color: #007B9B;
	border-style:solid;
	border-width: 0px 0px 4px 0px;
	height:57px;
	padding:0px 30px 0px 30px;
	margin:0px 0px 20px 0px;
	}
.logo {
  width: auto;
  margin: 12px 0px 0px 0px;
  padding: 0px;
  float: left;
	}
.profile{
	width:auto;
	display:block;
	position:relative;
	float:right;
	margin: 08px 50px 0px 0px;
	color:#D9F0F5;
	}
.photo-profile{
	float:left;
	margin:0px 10px 0px 0px;
	display:block;
	}
.name-profile{
	float:left;
	display:block;
	margin:3px 0px 3px 0px;
	font-size:15px;
	}
.role-profile{
	display:block;
	font-size:12px;
	}

.content-highlight{
	position:absolute;
	left:50%;
	width:800px;
	margin:50px 0px 0px -400px;
	text-align:center;
	}

/* ---- CONFIGURAÇÃO DE BOTÃO ----  */
.btn-group{
	
	}

.btn-destaque{
	display:block;
	float:left;
	position:relative;
	text-align:center;
	background-color:#FFFFFF;
	padding:20px;
	margin:5px;
	width:330px;
	height:258px;
	font-size:20px;
	}
.btn-destaque img{
	margin:60px 0px 20px 0px;
	}
.rounded-corner{
	border-width:1px 1px 3px 1px;
	border-color:#CFCFCF;
	border-radius:5px;
	border-style:solid;
	}
a{
	display:block;
	text-align:center;
	text-decoration:none;
	
	
	
	
	
	
	}
a:hover{
	border-width:1px 1px 1px 1px;
	}


/* ---- COLOR ----  */
.clr-cinza-escuro{
	color:#999999;
	}
.clr-cinza-claro{
	color:#A9A9A9;
	}
.clr-azul-claro{
	color:#43ADCF;
	}
.clr-azul-medio{
	color:#0098C3;
	}






