@charset "UTF-8";
/* CSS Document */


/* Cabecalho paciente horizontal*/


#ficha_paciente_horizontal {
    background: #f7f7f7;
    border-color: #cfcfcf;
    border-radius: 5px;
    float: left;
    height: 50px;
	padding-top: 6px;
    margin-left: 270px;
    margin-top: 5px;
    position: absolute;
    width: 916px;
}

#ficha_paciente_horizontal img{
	border-radius: 20px; margin: 0px 10px 7px 10px; border-bottom: 3px solid #89888a; float: left; width: 40px; height: 40px;
}

#ficha_paciente_horizontal #nome_paciente{width: 250px; text-align: left; height: 30px; line-height: 30px; color: #4ab5d9; font-size: 19px; font-weight: lighter; display: block;}

#ficha_paciente_horizontal #data_entrada{width: 250px; text-align: left; height: 12px; line-height: 12px; color: #aaa; font-size: 12px; font-weight: lighter; display: block;}

#ficha_paciente_horizontal #cabecalho_paciente{width: 250px; height: 60px; float: left; border: 0px; margin-right: 30px;}



#ficha_paciente_horizontal #detalhes_paciente{padding: 0 !important; width: 250px; display: block; float: left;}

#ficha_paciente_horizontal #detalhes_paciente span{border-left: 1px dotted #ccc; width: 55px; padding-left: 10px; margin-right: 8px; height:43px; display: block; float: left; color: #aaa; font-size: 12px; font-weight: lighter;}
#ficha_paciente_horizontal .idade_paciente{border: 0 !important;}

#ficha_paciente_horizontal #detalhes_paciente span strong{display: block; width: 80px; height: 30px; font-size: 28px; font-weight: normal; letter-spacing: 1px; color: #999;}
#ficha_paciente_horizontal #detalhes_paciente span strong small{color: #999; font-size: 12px; font-weight: lighter; margin-left: 3px;color: #aaa; }



#ficha_paciente_horizontal .acompanhamento{ margin-left: 5px; width: 250px; width: 140px; padding: 0px; float: left; padding-left: 10px; display: block; border-top: 0;}
#ficha_paciente_horizontal .acompanhamento span{color: #aaa; font-size: 12px; font-weight: lighter; }

#ficha_paciente_horizontal .acompanhamento p{color: #333; font-size: 12px; font-weight: lighter; margin-top: 5px; }

.carrossel {width: 950px; clear: both !important; margin-left: 35px !important;}

.carrossel .container-lista-os {width: 1180px; }


#header_horizontal{margin-left: 30px;}




/*Carrossel*/

a.btn-lista-os {width: 420px; height: 80px; display: block !important;}
.btn-lista-os h3{font-size: 26px;}
.btn-lista-os span{color: #aaa;}
.horario {clear: both !important; width: 420px;  height: 40px !important; display: block; text-align: center; text-transform: lowercase; font-size: 24px;}

.btn-primario{float: none !important; }

.container-lista-os {background: #fff; height: 560px;}