@charset "UTF-8";
/* CSS Document */

*{margin: 0px; padding: 0px;}


/* Cabeçalho geral*/
.NomeProduto {display: block; float: left; font-size: 24px; text-transform: uppercase; color: #bde5ee; font-weight: lighter; height: 60px; line-height: 60px; margin-left: 20px; }

/* Index */

.btn-destaque {width: 293px; height: 213px;} /*Ajuste dos botões da index para caber em 1024 */
.btn-destaque img {margin: 16px 0; }
.clr-cinza-escuro {margin: 10px 0  15px 0; text-align: center;}



/* Ficha paciente vertical */

#ficha_paciente_vertical {
	background: #f7f7f7;
	width: 250px;
	margin-left: 5px;
	
	margin-top: 80px;
	height: 521px;
    border-color: #cfcfcf;
	border-radius: 5px;
    border-style: solid;
    border-width: 1px 1px 3px;
}

#ficha_paciente_vertical img{
	margin-top: 30px; margin-left: 70px; border-radius: 53px; border: 1px solid #eee; border-bottom: 3px solid #89888a;
}

#nome_paciente{width: 250px; text-align: center; height: 30px; line-height: 30px; color: #4ab5d9; font-size: 19px; font-weight: lighter; display: block;}

#data_entrada{width: 250px; text-align: center; height: 15px; line-height: 15px; color: #aaa; font-size: 12px; font-weight: lighter; display: block;}

#cabecalho_paciente{padding-bottom: 30px; border-bottom: 1px dotted #ccc;}



#detalhes_paciente{padding: 10px 0; display: table;}

#detalhes_paciente span{border-left: 1px dotted #ccc; width: 55px; padding-left: 10px; margin-right: 8px; height: 50px; display: block; float: left; color: #aaa; font-size: 12px; font-weight: lighter;}
.idade_paciente{border: 0 !important;}

#detalhes_paciente span strong{display: block; width: 80px; height: 30px; font-size: 28px; font-weight: normal; letter-spacing: 1px; color: #999;}
#detalhes_paciente span strong small{color: #999; font-size: 12px; font-weight: lighter; margin-left: 3px;color: #aaa; }



.acompanhamento{padding: 20px 0; width: 240px; padding-left: 10px; display: block; border-top: 1px dotted #ccc;}
.acompanhamento span{color: #aaa; font-size: 12px; font-weight: lighter; }

.acompanhamento p{color: #333; font-size: 12px; font-weight: lighter; }

.acompanhamento ul li{color: #333; font-size: 12px; font-weight: lighter; list-style: none;}


/* Tela de Wizard medicamento*/

.container-lista-os {
    background-color: #f7f7f7;
    float: left;
    left: 0 !important;
    margin: 0;
    position: relative;
    width: 700px;
	margin-top: 5px;
	height: 597px;
	border-bottom:3px #cfcfcf solid;
}

.header-lista h3{color: #4ab5d9; font-weight: normal; font-size: 18px; margin-top: 5px;}
.header-lista h4 {color: #bbb;}

.header-lista{padding: 15px 20px 18px 20px;}

.clr-cinza-claro{text-align: center; width: 100%; font-size: 20px; margin-top: 40px; color: #bbb;}


/* Ficha Paciente Horizontal */

.ficha_paciente_horizontal{display: block; height: 80px; }


/* Modal Aplicar medicamento*/
.titulo-modal-body span {font-size: 16px; color: #aaa; }







#seletor{position: absolute; z-index: 3; width: 275px; height: 301px; margin-left: 20px; margin-top: 30px;  border-top: 1px solid #eee;}

#seletor ul{list-style: none;}

/*li normal*/
.detalhes_seletor{border-radius: 3px 0 0 3px; background: #fff; border-left: 3px solid #cfcfcf; width: 275px; border-bottom: 1px solid #eee;  height: 45px; padding-left: 15px; padding-top: 14px; width: 180px; display: block; float: left;}
.status{width: 60px; display: block; float: left; height: 59px; background: url("../img/wizard/normal.png") no-repeat bottom left;  border-color: #eee;
    border-style: solid;
    border-width: 0px 1px 1px 1px;}

#seletor ul li small{ display: block; color: #bbb; font-size: 13px; }
#seletor ul li strong{display: block; color: #555; font-size: 16px; font-weight: normal;}

/*li current*/
li.current .status{width: 72px; display: block; float: left; height: 59px; background: transparent url("../img/wizard/current.png") no-repeat bottom left; border-color: #efefef;
    border-style: solid;
    border-width: 0px 0 0 1px; height: 60px; }


/*li done*/

li.done .status{width: 70px; display: block; float: left; height: 59px; background: transparent url("../img/wizard/done.png") no-repeat bottom left; border-color: #efefef;
    border-style: solid;
    border-width: 0px 0 0px 1px; height: 60px; }
	li.done .detalhes_seletor{border-left: 3px solid #02b331 !important}


#instrucoes{border-top: 1px solid #eee; width: 400px; background: black; height: 300px; display: block; float: left; margin-left: 280px; margin-top: 30px;}

.camera, .imagem_opacidade img{position: absolute;}

.informacoes{position: absolute; margin-left: 40px;}
.medicamento{position: absolute; margin-top: 180px; width: 280px; height: 120px; }
.medicamento strong{color: #fff; font-weight: normal; font-size: 20px; }
.medicamento ul li{list-style: none; font-size: 14px; font-weight: lighter; color: #ededed; height: 22px; line-height: 22px;}

.status_instrucoes{position: absolute; margin: 40px 0 0 40px; }
.status_instrucoes span{margin-left:75px; color: #c8e8c1; width: 70px; display: block; font-size: 20px; position: absolute; top: 5px;}

.instrucoes-qrcode{position: absolute; margin: 13px 0 0 0px; }
.instrucoes-qrcode span {color: #ededed; width: 300px; padding: 0 50px; display: block; font-size: 20px; font-weight: lighter; position: absolute; top: 5px; text-align: center;}

.instrucoes-qrcode img{position: absolute; left: 128px; top: 70px;}

/* GRID - Estutura de colunas */

.col-1 {
 /*   background: red none repeat scroll 0 0;*/
    float: left;
    /*height: 675px;*/
    margin-left: 26px;
    position: relative;
    width: 260px;
}

.col-2{
	width: 700px;
	position: relative;
	display: block;
	margin-left: 16px;
}


.slider4 {
  display: block;
  position: relative;
  width: 9000px;
  top: 0px;
  float: left;
  left: 245px;
}
.slide {
display: block;
position: relative;
float: left;
width: 470px;
margin: 0px 100px 0px 100px;
}
.content-carrosel{
    overflow: hidden;
    position: relative;
    width: 100%;
    float: left;
}



.bx-wrapper .bx-pager {
    text-align: center;
    font-size: .85em;
    font-family: Arial;
    font-weight: bold;
    color: #666;
    padding-top: 20px;
}

.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
    position: absolute;
    bottom: -30px;
    width: 100%;
}

.bx-wrapper .bx-controls-direction a {
position: absolute;
top: 40%;
margin-top: -16px;
outline: 0;
width: 60px;
height: 105px;
text-indent: -9999px;
z-index: 9999;
}
.bx-wrapper .bx-prev {
    left: -2px;
    background-color: #fff;
    width: 13px;
    height: 65px;
    position: absolute;
    top: 130px;
    padding: 20px;
    border-width: 1px 1px 1px 0px;
    border-color: #f1f1f1;
    border-style: solid;
    border-radius: 5px;
}
.bx-wrapper .bx-next {
    right: -2px;
    background-color: #fff;
    width: 13px;
    height: 65px;
    position: absolute;
    top: 130px;
    padding: 20px;
    border-width: 1px 0px 1px 1px;
    border-color: #f1f1f1;
    border-style: solid;
    border-radius: 5px;
}