<div class="container-geral">
	<div class="col-1">
        <div class="btn-area">
            <a href="#" class="btn-voltar rounded-corner {{options[0]._class || ''}} clr-azul-claro hvr-shrink btn-line" temporizadorcomp hover="options[0]._class == 'hvr-sweep-to-top'">
                    <img src="img/btn/voltar.png">
                    Voltar
             </a>
        </div>
    </div>
    <div class="col-2">
    	<div class="container-lista-os rounded-corner">
			<div class="header-lista">
            	<h4 class="clr-cinza-claro">Ordem de serviço</h2>
                <h2 class="clr-cinza-claro" data-ng-bind="os.nome"></h4>
            </div>
            <div class="container-descricao-tarefa">
            	<h2 class="clr-azul-claro" style="font-weight:100;" data-ng-bind="detalheTarefa.nome"></h2>
                <div class="descricao-tarefa">
                    <img data-ng-src="img/os/foto_oleo{{$index+1}}.jpg" style="float:left;" class="foto-destaque-tarefa">
                    <p class="clr-cinza-escuro" style="line-height:20px; margin-top:0px;" data-ng-bind-html="detalheTarefa.obs | unsafefilter"></p>
                </div>
                <div class="nav-footer-page">
                    <div class="nav-primario">
                        <a href="#" class="btn-primario rounded-corner clr-azul-claro hvr-shrink btn-line {{options[1]._class || ''}}" style="width:645px; text-align:center;" temporizadorcomp hover="options[1]._class == 'hvr-sweep-to-top'" max="'-115px'">
                            INICIAR TAREFA
                        </a>
                    </div>

               </div>
            </div>
        </div>
    </div>
</div>