<div class="container-geral">
	<div class="col-1">
        <div class="btn-area">
            <a href="#" class="btn-voltar rounded-corner clr-azul-claro hvr-shrink btn-line">
                    <img src="img/btn/voltar.png">
                    Voltar
             </a>
        </div>
    </div>
    <div class="col-2">
    	<div class="container-lista-os rounded-corner">
			<div class="header-lista">
            	<h4 class="clr-cinza-claro">Ordem de serviço</h2>
                <h2 class="clr-cinza-claro" data-ng-bind="os.nome"></h4>
            </div>
            <div class="container-descricao-tarefa">
            	<h2 class="clr-azul-claro" style="font-weight:100;" data-ng-bind="detalheTarefa.nome"></h2>
                <div class="msg-area">
                    <div class="msg-alert rounded-corner" data-ng-show="detalheTarefa.iniciado && !detalheTarefa.concluido && detalheTarefa.percorrido < detalheTarefa.previsao">
                        <img src="img/btn/btn_relogio_cinza.png" style="margin:-5px 20px 0px 0px;" >Esta tarefa foi iniciada as <span data-ng-bind="detalheTarefa.dtini | date:'HH'"></span>h <span data-ng-bind="detalheTarefa.dtini | date:'mm'"></span> minutos<br><b>Tempo restante para conclusão: <span data-ng-bind="(detalheTarefa.previsao - detalheTarefa.percorrido) | number:'0'"> min</b>
                    </div>
                    <div class="msg-error rounded-corner" data-ng-show="detalheTarefa.iniciado && !detalheTarefa.concluido && detalheTarefa.percorrido >= detalheTarefa.previsao">
                        <img src="img/btn/btn_alerta_branco.png" style="margin:-3px 20px 0px 0px;">Esta tarefa foi iniciada as 9h 15 minutos<br><b>Tempo restante para conclusão: <span data-ng-bind="(detalheTarefa.previsao - detalheTarefa.percorrido) | number:'0'"> min</b>
                    </div>
                    <div class="msg-success rounded-corner" data-ng-show="detalheTarefa.concluido">
                        <img src="img/btn/sucesso_grande.png" style="margin:-3px 20px 0px 0px;">Parabéns, esta atividade foi realizada dentro do tempo<br>
                        <b>Início: <span data-ng-bind="detalheTarefa.dtini | date:'HH'"></span>h <span data-ng-bind="detalheTarefa.dtini | date:'mm'"></span> minutos  -  Término: TODO</b>
                    </div>
                </div>
                <div class="descricao-tarefa">
                    <img src="img/btn/foto_oleo.jpg" style="float:left;" class="foto-destaque-tarefa">
                    <p class="clr-cinza-escuro" style="line-height:20px; margin-top:0px;" data-ng-bind-html="detalheTarefa.obs | unsafefilter"></p>
                </div>
                <div class="nav-footer-page" data-ng-hide="detalheTarefa.concluido">                   

                    <div class="nav-secundario">
                        <a href="#" class="btn-secundario rounded-corner clr-azul-claro hvr-shrink btn-line " style="width:250px; text-align:center;">
                            <img src="img/btn/btn_unlike_azul.png">
                            <span>Não concluída</span>
                        </a>
                    </div>
                    <div class="nav-primario">
                        <a href="#" class="btn-primario rounded-corner clr-azul-claro hvr-shrink btn-line " style="width:250px; text-align:center;">
                            <img src="img/btn/btn_ok.png">
                            <span>TAREFA CONCLUIDA</span>
                        </a>
                    </div>

               </div>
            </div>
        </div>
    </div>
</div>

<div class="modal">
  <input class="modal-open" id="modal-one" type="checkbox" hidden checked="checked">
  <div class="modal-wrap" aria-hidden="true" role="dialog">
    <label class="modal-overlay" for="modal-one"></label>
    <div class="modal-dialog">
      <div class="modal-body">
        <img src="img/btn/min.png" class="img-modal">
        <div class="titulo-modal-body">Deseja registrar o motivo porque a tarefa não foi realizada?</div>
      </div>
      <div class="modal-footer">
        <div class="nav-footer-page">
            <div class="nav-secundario">
                <a href="#" class="btn-secundario rounded-corner clr-azul-claro hvr-shrink btn-line {{options[0]._class || ''}}" style="width:230px; text-align:center;" temporizadorcomp hover="options[0]._class == 'hvr-sweep-to-top'" max="'-530px'">
                    Não, voltar
                </a>
            </div>
            <div class="nav-primario">
                <a href="#" class="btn-primario rounded-corner clr-azul-claro hvr-shrink btn-line {{options[1]._class || ''}}" style="width:230px; text-align:center;" temporizadorcomp hover="options[1]._class == 'hvr-sweep-to-top'" max="'-530px'">
                    GRAVAR ÁUDIO
                </a>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>