

<div class="container-geral">
    <div class="col-1">
        <div class="btn-area">
            <a href="#" class="btn-voltar rounded-corner {{options[0]._class || ''}} clr-azul-claro hvr-shrink btn-line" temporizadorcomp hover="options[0]._class == 'hvr-sweep-to-top'">
                    <img src="img/btn/voltar.png">
                    Voltar
                </a>
        </div>
    </div>
<div class="col-2">
    	<div class="container-lista-os rounded-corner">
			<div class="header-lista">
            	<h4 class="clr-cinza-claro">Ordem de serviço</h4>
                <h2 class="clr-cinza-claro" data-ng-bind="os.nome"></h2>
            </div>
            <div class="lista-itens-os">
            	<h3 class="clr-cinza-claro" style="font-weight:100;">Escolha uma das três ({{os.detalhe.length}}) tarefas na lista abaixo para iniciar esta O.S:</h3>                
				<a href="#" class="{{d.concluido ? 'btn-lista-os' : 'btn-lista-os'}} rounded-corner {{d._class}} clr-azul-claro hvr-shrink btn-line" data-ng-repeat="d in os.detalhe" temporizadorcomp hover="d._class == 'hvr-sweep-to-top'" max="'-110px'">
                    <div class="numero-list" data-ng-bind="$index+1"></div>
                    <div class="container-os-item">
                    	<div class="titulo-os"><h3 style="margin:05px 0px 0px 0px; font-weight:100" class="" data-ng-bind="d.nome"></h3></div>
                        <div class="clr-cinza-claro minuto">
                            
                            <div class="progress-bar rounded-corner" data-ng-show="d.percorrido >= 0">
                                <div class="bar rounded-corner" style="width:{{d.percorridoP}}%">
                            </div>
                            <h4 style="margin:0px 0px 0px 0px; font-weight:100" data-ng-show="d.percorrido >= 0">
                                <span data-ng-bind="d.percorrido | number:'0'"></span> min / 
                                <span data-ng-bind="d.previsao"></span> min
                            </h4>
                        </div>                           
                        </div>
                        <div class="sucesso-check" data-ng-show="d.concluido && !d.descricao">
                            <img src="img/btn/sucesso_grande.png">
                        </div>
                        <div class="sucesso-check" data-ng-show="d.iniciado && !d.concluido && d.percorrido < d.previsao && !d.descricao">
                            <img src="img/btn/btn_relogio_azul.png">
                        </div>
                        <div class="sucesso-check" data-ng-show="d.iniciado && !d.concluido && d.percorrido >= d.previsao && !d.descricao">
                            <img src="img/btn/btn_alerta_vermelho.png">
                        </div>
                        <div class="sucesso-check" data-ng-show="d.descricao">
                            <img src="img/btn/btn_alerta_vermelho.png">
                        </div>
                    </div>
                </a>
				
            </div>
        </div>
    </div>

</div>  