<div class="container-geral">	
            
    <div class="col-2">
    	<div class="container-lista-os rounded-corner">
			<div class="header-lista">
            	<h2 class="clr-azul-claro" style="font-weight:100; width:70%; float:left; display:block; position:relative" >Fale o motivo de não concluir a tarefa: 
                <br/>
                <b data-ng-bind="detalheTarefa.nome"></b>
                </h2>
                <div class="timer-gravacao">
                    <img src="img/btn/gravacao-mic.png" class="img-gravacao">
                    <span timecomp></span>
        		</div>
            </div>
            <div class="container-descricao-tarefa">
            <span class="clr-cinza-escuro">Fale o que deseja registrar:</span>
                <div class="descricao-tarefa">
                    <div class="motivo-tarefa clr-cinza-escuro">
                    
                    <span data-ng-repeat="speech in speechs">
                        <span data-ng-bind="speech"></span><br/>
                    </span>
                    
                    </div>
                </div>
                <div class="nav-footer-page">
                    <div class="nav-secundario">
                        <a href="#" class="btn-secundario rounded-corner clr-azul-claro hvr-shrink btn-line {{options[0]._class || ''}}" style="width:250px; text-align:center;" temporizadorcomp hover="options[0]._class == 'hvr-sweep-to-top'" max="'-510px'">
                            <img src="img/btn/btn_unlike_azul.png">
                            <span data-ng-bind="options[0].nome" style="font-size:16px;"></span>
                        </a>
                    </div>
                    <div class="nav-primario">
                        <a href="#" class="btn-primario rounded-corner clr-azul-claro hvr-shrink btn-line {{options[1]._class || ''}}" style="width:250px; text-align:center;" temporizadorcomp hover="options[1]._class == 'hvr-sweep-to-top'" max="'-510px'">
                            <img src="img/btn/btn_ok.png">
                            <span data-ng-bind="options[1].nome"></span>
                        </a>
                    </div>
               </div>
            </div>
        </div>
    </div>
</div>