<div class="container-geral">
	<div class="col-1">
        <div class="btn-area">
            <a href="#" class="btn-voltar rounded-corner {{options[0]._class || ''}} clr-azul-claro hvr-shrink btn-line" temporizadorcomp hover="options[0]._class == 'hvr-sweep-to-top'">
                    <img src="img/btn/voltar.png">
                    Voltar
                </a>
        </div>
    </div>
    <div class="col-2">
    	<div class="container-lista-os rounded-corner">
			<div class="header-lista">
            	<h2 class="clr-azul-claro">Bom dia {{user.nome}}, você tem {{oss.length}} O.S para hoje</h2>
                <h4 class="clr-cinza-claro">Selecione a OS em que deseja trabalhar.</h4>
            </div>
            <div class="lista-itens-os">
				
                <a href="#" class="btn-lista-os rounded-corner {{os._class}} clr-azul-claro hvr-shrink btn-line" data-ng-repeat="os in oss" temporizadorcomp hover="os._class == 'hvr-sweep-to-top'" max="'-110px'">
                    <div class="numero-list" data-ng-bind="$index+1"></div>
                    <div class="container-os-item">
                        <div class="titulo-os">
                        <h3 style="margin:05px 0px 0px 0px; font-weight:100">
                        <span data-ng-bind="os.nome"></span>
                        <span >({{os.tarefaConcluida}}/{{os.detalhe.length}})</span>
                        </h3>
                        </div>
                        <div class="progress-bar rounded-corner">
                            <div class="bar rounded-corner" style="width:{{os.tarefaConcluidaP}}%"></div>
                        </div>
                    </div>
                </a>				
            </div>
        </div>
    </div>
</div>