<div class="container-geral">
	<div class="col-1">
        <div class="btn-area">
            <a href="#" class="btn-voltar rounded-corner {{options[0]._class || ''}} clr-azul-claro hvr-shrink btn-line" temporizadorcomp hover="options[0]._class == 'hvr-sweep-to-top'">
                    <img src="img/btn/voltar.png">
                    Voltar
                </a>
        </div>
    </div>
    <div class="col-2">
    	<div class="container-cadastro rounded-corner">
			<div class="header-cadastro">
            	<h2 class="clr-azul-claro">Identifique-se</h1>
                <h4 class="clr-cinza-claro">Posicione o seu rosto dentro do círculo</h3>
            </div>
            <div class="camera">
                <div  qrcomp style="width:380px;height:253px;" codeproduct="qrproduct"></div>
            	<img src="img/btn/mask_video.png" >
            </div>
            <div class="formulario">
            	<div class="msg-area">

                	<div class="msg-alert rounded-corner" data-ng-show="alert == 'calculando'">
                        <img src="img/btn/waiting.png">
                        Aguarde, identificando sua face!!
                    </div>

                	<div class="msg-success rounded-corner" data-ng-show="alert == 'cadastrado'">
                        <img src="img/btn/sucesso.png">                        
                        Olá <b data-ng-bind="user.nome"></b>, <br/>seja bem vindo! <br/><br/>
                        Aguarde estamos montando sua lista de atividades para hoje ...
                    </div>

                    <div class="msg-error rounded-corner" data-ng-show="alert == 'nao_cadastrado'">
                        <img src="img/btn/cancelar.png">
                        Usuário não cadastrado
                    </div>

                </div>
               
            </div>
        </div>
    </div>
</div>