<div class="col-1">
        <div class="btn-area">
            <a href="#" class="btn-voltar rounded-corner {{options[0]._class || ''}} clr-azul-claro hvr-shrink btn-line" temporizadorcomp hover="options[0]._class == 'hvr-sweep-to-top'">
                    <img src="img/btn/voltar.png">
                    Voltar
                </a>
        </div>
		
		<div id="ficha_paciente_vertical">
			
			<div id="cabecalho_paciente">
					<img data-ng-src="{{paciente.img}}" width="105" height="105" />
					<span id="nome_paciente" data-ng-bind="paciente.nome"></span>
					<span id="data_entrada">Data de Entrada: <span data-ng-bind="paciente.dtEntrada | date:'dd/MM/yyyy'"></span></span>
			</div>
			
			<div id="detalhes_paciente">
                <span class="idade_paciente">idade: <strong data-ng-bind="paciente.idade"></strong></span>
                <span>peso: <strong data-ng-bind="paciente.peso"><small>kg</small></strong></span>
                <span>altura: <strong data-ng-bind="paciente.altura"><small>cm</small></strong></span>
            </div>
			
			<div class="acompanhamento">
                <span>Alergias</span>
                <p data-ng-bind="paciente.alergias"></p>
            </div>
			
			<div class="acompanhamento">
                <span>Tratamento Vigente</span>
                <ul>    
                    <li data-ng-repeat="p in paciente.tratamentoVigente">- {{p}}</li>                    
                </ul>
            </div>
			
			<div class="acompanhamento">
                <span>Medico Responsável</span>
                <p data-ng-bind="paciente.medicoResponsavel"></p>
            </div>
		</div>		
</div>


<div class="col-2">
	
	<div class="container-lista-os rounded-corner" style="height: 597px;">
			<div class="header-lista">
				<img src="img/wizard/wizard_pilula.png" class="img-modal" />
            	<h3 class="">Aplicar Medicamento > {{medicamento.nome}} {{medicamento.dosagem}}</h2>
                <h4>Confirme as informações abaixo para continuar</h4>
            </div>
                
			<p class="clr-cinza-claro">Siga o passo a passo para garantir a aplicação correta: </p>
			
			
			<div id="seletor">
				
				<ul>
					<li data-ng-class="{done : medicamento.fase > 1, current : medicamento.fase == 1}">
					
						<span class="detalhes_seletor">		
							<small>Paciente</small>
							<strong data-ng-bind="paciente.nome"></strong>
						</span>
						
						<span class="status">
							
						</span>
					
					</li>
					
					<li data-ng-class="{done : medicamento.fase > 2, current : medicamento.fase == 2}">
					
						<span class="detalhes_seletor">		
							<small>Horário</small>
							<strong>{{horario.horario | date:"HH'h'mm '-' dd/MM/yyyy"}}</strong>
						</span>
						
						<span class="status">
							
						</span>	
					
					</li>
					
					<li data-ng-class="{done : medicamento.fase > 3, current : medicamento.fase == 3}">
					
						<span class="detalhes_seletor">		
							<small>Medicamento</small>							
							<strong>
								<span data-ng-bind="medicamento.codigo"></span> - 
								<span data-ng-bind="medicamento.nome"></span>
							</strong>
						</span>
						
						<span class="status">
							
						</span>
					
					</li>
					
					<li data-ng-class="{done : medicamento.fase > 4, current : medicamento.fase == 4}">
					
						<span class="detalhes_seletor">		
							<small>Dosagem</small>
							<strong data-ng-bind="medicamento.dosagem"></strong>
						</span>
						
						<span class="status">
							
						</span>
					
					</li>
					
					<li data-ng-class="{done : medicamento.fase > 5, current : medicamento.fase == 5}">
					
						<span class="detalhes_seletor">		
							<small>Via de Administração</small>
							<strong data-ng-bind="medicamento.via"></strong>
						</span>
						
						<span class="status">
							
						</span>
					
					</li>
					
			
				</ul>
				
			</div> <!-- fecha Seletor -->
			
			<div id="instrucoes">

				<div class="camera">
						<div  qrcomp style="width:380px;height:253px;" codeproduct="qrproduct"></div>            			          			
				</div>


				<div class="imagem_opacidade">
					<img data-ng-show="medicamento.fase == 3" src="img/wizard/mascara.png" />
					<img data-ng-show="medicamento.fase != 3" src="img/wizard/mascara_full.png" />
				</div>

				<div class="instrucoes-qrcode" data-ng-show="medicamento.fase == 3">
					<span>Aproxime o código de barras ou QR Code do Medicamento</span>
					<img src="img/wizard/qrcode.png" />
				</div>

				<div class="informacoes" data-ng-show="medicamento.fase == 3 && codigoMedicamento &&  codigoMedicamento != medicamento.codigo">
						<span class="medicamento">
								<strong style="color: red;display: block;bottom: 10px;position: absolute;">Medicamento incorreto {{codigoMedicamento}}</strong>
						</span>	
				</div>

				<div class="status_instrucoes" data-ng-show="medicamento.fase == 4 && successWait">
						<img src="img/wizard/correto.png" />
						<span>Medicamento Correto</span>
				</div>
			
				<div class="informacoes" data-ng-show="medicamento.fase == 4 && successWait">
						<span class="medicamento">
								<strong data-ng-show="medicamento.fase >= 4" data-ng-bind="medicamento.nome"></strong>
								<ul data-ng-show="medicamento.fase >= 4">
									<li>Comprimido: {{medicamento.dosagem}}</li>
									<li>Validade: 21/10/2015</li>
									<li>Lote: 1Df345BV</li>
								</ul>			
						</span>	
				</div>

				

				<div class="status_instrucoes" data-ng-show="medicamento.fase == 2 && horarioIncorreto">
						<span style="color: red;margin: 0px;font-size: 29px;width: 80%;position: relative;">Horário Incorreto {{horario.horario | date:"HH'h'mm '-' dd/MM/yyyy"}}</span>
				</div>
				
				<div class="status_instrucoes" data-ng-show="medicamento.fase == 4 && !successWait">
						<span style="margin: 0px; width:80%; position:relative;">Confirme a dosagem: {{medicamento.dosagem}}</span>
				</div>
			
				<div class="informacoes" data-ng-show="medicamento.fase == 4 && !successWait">
						<span class="medicamento">
								<strong>Diga 'confirmado/confirmar', ou faça um sinal de positivo para continuar</strong>
						</span>	
				</div>

				<div class="status_instrucoes" data-ng-show="medicamento.fase == 5 && successWait">
						<img src="img/wizard/correto.png" />
						<span>Dosagem Correta</span>
				</div>

				<div class="status_instrucoes" data-ng-show="medicamento.fase == 5 && !successWait">
						<span style="margin: 0px; width:80%; position:relative;">Confirme a via de administração: {{medicamento.via}}</span>
				</div>

				<div class="informacoes" data-ng-show="medicamento.fase == 5 && !successWait">
						<span class="medicamento">
								<strong>Diga 'confirmado/confirmar', ou faça um sinal de positivo para continuar</strong>
						</span>	
				</div>

				<div class="status_instrucoes" data-ng-show="medicamento.fase == 6 && successWait">
						<img src="img/wizard/correto.png" />
						<span>Via de administração Correta</span>
				</div>

				<div class="status_instrucoes" data-ng-show="medicamento.fase == 6 && !successWait">
						<img src="img/wizard/correto.png" />
						<span>Medicamento administrado corretamente</span>
				</div>
							
				
				<!--div class="status_instrucoes">
					<img src="img/wizard/correto.png" />
					<span data-ng-show="medicamento.fase == 1">Paciente Correto</span>
					<span data-ng-show="medicamento.fase == 2">Horario Correto</span>
					<span data-ng-show="medicamento.fase == 3">Horário Correto</span>
					<span data-ng-show="medicamento.fase == 4">Medicamento Correto</span>
					<span data-ng-show="medicamento.fase == 5">Dosagem Correto</span>
					<span data-ng-show="medicamento.fase == 6">Via de Administração Correto</span>
				</div>

				<hr/>

				<div class="status_instrucoes">						
					<span data-ng-show="codigoMedicamento && codigoMedicamento != medicamento.codigo" style="color: red;">Medicamento incorreto, {{codigoMedicamento}}</span>
				</div>
				
				<div class="informacoes">
						<span class="medicamento">
								<strong data-ng-show="medicamento.fase >= 4" data-ng-bind="medicamento.nome"></strong>
								<ul data-ng-show="medicamento.fase >= 4">
									<li>Comprimido: 5mg</li>
									<li>Validade: 21/10/2015</li>
									<li>Lote: 1Df345BV</li>
								</ul>			
						</span>	
				</div -->
				
			</div>
    </div>

</div>