<div class="container-geral">
	<div class="col-1">
        <div class="btn-area">
            <a href="#" class="btn-voltar rounded-corner {{options[0]._class || ''}} clr-azul-claro hvr-shrink btn-line" temporizadorcomp hover="options[0]._class == 'hvr-sweep-to-top'" max="'-550px'">
                    <img src="img/btn/voltar.png">
                    Voltar
                </a>
        </div>
    </div>
    <div class="col-2">
    	<div class="container-cadastro rounded-corner">
			<div class="header-cadastro">
            	<h2 class="clr-azul-claro">Cadastrar novo usuário</h1>
                <h4 class="clr-cinza-claro" style="text-align:left;">Posicione seu rosto dentro do círculo</h3>
            </div>
            <div class="camera" style="position:relative;">
                <div  qrcomp style="width:380px;height:253px;" codeproduct="qrproduct"></div>
            	<img src="img/btn/mask_video.png" >
            </div>
            <div class="formulario">
            	<div class="msg-area">

                	<div class="msg-alert rounded-corner" data-ng-show="alert == 'calculando'">
                        <img src="img/btn/waiting.png">
                        Aguarde, identificando sua face!!
                    </div>

                    <div class="msg-alert rounded-corner" data-ng-show="alert == 'id_encontrado'">
                        Seu ID é {{ID}}, preencha seu nome para confirmar o cadastro
                    </div>

                	<div class="msg-success rounded-corner" data-ng-show="alert == 'cadastrado'">
                        <img src="img/btn/sucesso.png">                        
                        Parabéns {{user.nome}}, seu cadastro foi realizado!
                    </div>                   

                </div>
                <div data-ng-show="alert == 'id_encontrado'">
                    <input type="text" class="rounded-corner" placeholder="Digite ou fale seu nome:" data-ng-model="user.nome">
                    <div class="btn-cadastrar btn-line hvr-shrink {{options[1]._class || ''}} rounded-corner btn-line-blue" temporizadorcomp hover="options[1]._class == 'hvr-sweep-to-top'" max="'-470px'">
                    	Cadastrar
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>