<div class="content-highlight">
	<h2 class="clr-cinza-escuro" style="font-weight:100">Mova sua mão para interagir e selecionar o item que deseja, e aguarde com a mão sobre o item para acessa-lo</h2>
    <div class="btn-group">
        <a href="#" class="btn-destaque rounded-corner {{option._class || ''}} clr-azul-claro hvr-shrink btn-line" 
        data-ng-repeat="option in options" temporizadorcomp hover="option._class == 'hvr-sweep-to-top'" max="'-430px'">
            <img data-ng-src="{{option.icon}}"><br>
            {{option.nome}}
        </a>
       
    </div>
</div>