<div id="header_horizontal">


        <div class="btn-area">
            <a href="#" class="btn-voltar rounded-corner {{options[0]._class || ''}} clr-azul-claro hvr-shrink btn-line" temporizadorcomp hover="options[0]._class == 'hvr-sweep-to-top'">
                    <img src="img/btn/voltar.png">
                    Voltar
                </a>
        </div>
		
		<div id="ficha_paciente_horizontal">
			
			<div id="cabecalho_paciente">
					<img data-ng-src="{{paciente.img}}" >
					<span id="nome_paciente" data-ng-bind="paciente.nome"></span>
					<span id="data_entrada">Data de Entrada: <span data-ng-bind="paciente.dtEntrada | date:'dd/MM/yyyy'"></span></span>
			</div>

			<div id="detalhes_paciente">
                <span class="idade_paciente">idade: <strong data-ng-bind="paciente.idade"></strong></span>
                <span>peso: <strong data-ng-bind="paciente.peso"><small>kg</small></strong></span>
                <span>altura: <strong data-ng-bind="paciente.altura"><small>cm</small></strong></span>
            </div>
			
			<div class="acompanhamento">
                <span>Alergias</span>
                <p data-ng-bind="paciente.alergias"></p>
            </div>
			
		</div>
		
</div> <!-- Fecha header horizontal -->


<div class="col-2" style="width: 1180px; margin: 0px 0px 0px 38px;">
	
	<div class="container-lista-os rounded-corner" style="width: 100%;height:540px">
			<div class="header-lista" style="width: 1140px;">				
				<img src="img/btn/exames_medicos.png"  class="img-modal" style="width: 40px;">
            	<h3 class="">Exames Medicamentos</h3>
                <h4>Mova sua mão para interagir e selecionar o item que deseja, e aguarde com a mão sobre o item para acessa-lo</h4>
            </div>			
			
			<div class="content-carrosel">
			  
			  <div class="fade_left"></div>	
			  <div class="fade_right"></div>
			  
			  <div class="slider4" carroselcomp item="item || 0">

      			<div class="slide" data-ng-repeat="hr in paciente.horariosExames">

					<span class="btn-lista-os horario btn-primario rounded-corner clr-azul-escuro btn-line">
	                    <strong>{{hr.horario | date:"dd/MM/yyyy"}}</strong>
	              	</span>
					
					<a href="#" class="btn-lista-os rounded-corner hvr-sweep-to-top clr-azul-claro hvr-shrink btn-line {{med._class || ''}}" data-ng-repeat="med in hr.exames" temporizadorcomp hover="med._class == 'hvr-sweep-to-top'" max="'-339px'">
						<label class="btn" for="modal-one">							

		                    <h3 class="titulo-os" style="margin:05px 0px 0px 0px; font-weight:100">
			                    <span>
									<img data-ng-show="med.fase >= 5" src="img/wizard/correto.png" style="width:30px;" />
								</span>
		                   		<label class="btn" for="modal-one" data-ng-bind="med.nome"></label>
		                   	</h3>
							<span>
								<label class="btn" for="modal-one">{{med.horario | date:"HH'h'mm"}}, {{med.tipo}}</label>
							</span>
							
						</label>
	                </a>
	  			</div>
	  		  </div>

	  		<div class="bx-controls-direction bx-wrapper">
	  			<a class="bx-prev btn-voltar rounded-corner {{options[1]._class || ''}} clr-azul-claro hvr-shrink btn-line" href="#" data-ng-show="item > 0" temporizadorcomp hover="options[1]._class == 'hvr-sweep-to-top'"  max="'-746px'" style="margin: 0px 0px 0px -2px; z-index:10">
	  				<img src="img/btn/seta_voltar.png">
	  			</a>
	  			<a class="bx-next btn-voltar rounded-corner {{options[2]._class || ''}} clr-azul-claro hvr-shrink btn-line" href="#" data-ng-show="item < (paciente.horariosExames.length - 1)" temporizadorcomp hover="options[2]._class == 'hvr-sweep-to-top'" max="'-746px'" style="margin: 0px -2px 0px 0px; z-index:10">
	  				<img src="img/btn/seta_avancar.png">
	  			</a>
	  		</div>
	  		<img src="img/btn/lateral_carrossel_prev.png" style="position:absolute; left:0px;">
			  <img src="img/btn/lateral_carrossel_next.png" style="position:absolute; right:-102px;">

    </div>
</div>

<!-- Modal -->

<div class="modal">
  <input class="modal-open" id="modal-one" type="checkbox" hidden>
  <div class="modal-wrap" aria-hidden="true" role="dialog">
    <label class="modal-overlay" for="modal-one"></label>
    <div class="modal-dialog">
      <div class="modal-body">
        <img src="img/modal/aplicar_medicamento_modal.png" class="img-modal">
        <div class="titulo-modal-body">Hora de aplicar o medicamento: <span>Hidrocloratiazida - 50mg 1/2cp via oral</span></div>
      </div>
      <div class="modal-footer">
        <div class="nav-footer-page">
            <div class="nav-secundario">
                <a href="#" class="btn-secundario rounded-corner clr-azul-claro hvr-shrink btn-line" style="width:230px; text-align:center;">
                    Aplicar mais tarde
                </a>
            </div>
            <div class="nav-primario">
                <a href="#" class="btn-primario rounded-corner clr-azul-claro hvr-shrink btn-line" style="width:230px; text-align:center;">
                    Aplicar agora
                </a>
        	</div>
        </div>
      </div>
    </div>
  </div>
</div>




<!-- Scripts -->
