<div class="col-1">
        <div class="btn-area">
            <a href="#" class="btn-voltar rounded-corner {{options[0]._class || ''}} clr-azul-claro hvr-shrink btn-line" temporizadorcomp hover="options[0]._class == 'hvr-sweep-to-top'">
                    <img src="img/btn/voltar.png">
                    Voltar
                </a>
        </div>
        
        <div id="ficha_paciente_vertical">
            
            <div id="cabecalho_paciente">
                    <img data-ng-src="{{paciente.img}}" width="105" height="105" />
                    <span id="nome_paciente" data-ng-bind="paciente.nome"></span>
                    <span id="data_entrada">Data de Entrada: <span data-ng-bind="paciente.dtEntrada | date:'dd/MM/yyyy'"></span></span>
            </div>
            
            <div id="detalhes_paciente">
                <span class="idade_paciente">idade: <strong data-ng-bind="paciente.idade"></strong></span>
                <span>peso: <strong data-ng-bind="paciente.peso"><small>kg</small></strong></span>
                <span>altura: <strong data-ng-bind="paciente.altura"><small>cm</small></strong></span>
            </div>
            
            <div class="acompanhamento">
                <span>Alergias</span>
                <p data-ng-bind="paciente.alergias"></p>
            </div>
            
            <div class="acompanhamento">
                <span>Tratamento Vigente</span>
                <ul>    
                    <li data-ng-repeat="p in paciente.tratamentoVigente">- {{p}}</li>                    
                </ul>
            </div>
            
            <div class="acompanhamento">
                <span>Medico Responsável</span>
                <p data-ng-bind="paciente.medicoResponsavel"></p>
            </div>          
            
        </div>
        
</div>


<div class="col-2">
    <h2 class="clr-cinza-escuro" style="font-weight:100">Mova sua mão para interagir e selecionar o item que deseja, e aguarde com a mão sobre o item para acessa-lo</h2>
    <div class="btn-group">
        <div>
        <a href="#" class="btn-destaque rounded-corner hvr-sweep-to-top clr-azul-claro hvr-shrink btn-line {{options[1]._class || ''}}" temporizadorcomp hover="options[1]._class == 'hvr-sweep-to-top'" max="'-467px'">
            <img src="img/btn/pilula.png"><br>
            Aplicar<br / >Medicamento
        </a>
        <a href="#" class="btn-destaque rounded-corner hvr-sweep-to-top clr-azul-claro hvr-shrink btn-line {{options[2]._class || ''}}" temporizadorcomp hover="options[2]._class == 'hvr-sweep-to-top'" max="'-467px'">
            <img src="img/btn/exames_medicos.png"><br>
            Exames<br / >Médicos
        </a>
        </div>
        <div style="clear: both">
        
        <a href="#" class="btn-destaque rounded-corner hvr-sweep-to-top clr-azul-claro hvr-shrink btn-line {{options[3]._class || ''}}" temporizadorcomp hover="options[3]._class == 'hvr-sweep-to-top'" max="'-467px'">
            <img src="img/btn/dados_clinicos.png"><br>
            Dados<br / >Clínicos
        </a>
        
        <a href="#" class="btn-destaque rounded-corner hvr-sweep-to-top clr-azul-claro hvr-shrink btn-line {{options[4]._class || ''}}" temporizadorcomp hover="options[4]._class == 'hvr-sweep-to-top'" max="'-467px'">
            <img src="img/btn/historico.png"><br>
            Histórico<br / >Médico
        </a>
        </div>
    </div>
</div>