<div class="container">
	<div class="row">
	<div class="col-lg-12">
		<div class="page-header">
		  <h1>Cadastrar - <small>TOTVS</small></h1>
		</div>
	</div>
	</div>

	<div class="row">
  <div class="col-lg-6">
    
    <div width="400" heght="400" qrcomp style="width:300px;height:250px;" codeproduct="qrproduct"></div>
    
  </div>
	 <div class="col-lg-6">          
      <div class="alert alert-success" role="alert" data-ng-show="text">  
        <span class="sr-only">Info:</span>
        <span data-ng-bind="text"></span>
      </div>
      <div class="alert alert-warning" role="alert" data-ng-show="textWarn">  
        <span class="sr-only">Info:</span>
        <span data-ng-bind="textWarn"></span>
      </div>
      <div class="well bs-component">
        <form class="form-horizontal">
          <fieldset>
            <legend>Cadastrar</legend>
            <div class="form-group">
              <label for="inputEmail" class="col-lg-2 control-label">Nome</label>
              <div class="col-lg-10">
                <input type="text" class="form-control" data-ng-model="user.nome" placeholder="Nome">
              </div>
            </div>
            
            
            <div class="form-group">
              <label class="col-lg-2 control-label">Função</label>
              <div class="col-lg-10">
                <div class="radio">
                  <label>
                    <input type="radio" data-ng-model="user.funcao" name="optionsRadios" value="Enfermeiro" checked=checked>
                    Enfermeiro
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" data-ng-model="user.funcao" name="optionsRadios" value="Médico">
                    Médico
                  </label>
                </div>
              </div>
            </div>
           
           
          </fieldset>
        </form>
      <div id="source-button" class="btn btn-primary btn-xs" style="display: none;">&lt; &gt;</div>
      </div>
    </div>

    <hr class="col-lg-12"/>
    <div class="col-lg-6 col-mg-6 col-xs-6 col-sm-6" data-ng-repeat="med in meds">
      <div class="bs-component">
        <div class="alert alert-dismissible alert-{{med._class || 'success'}}" >
          <button type="button" class="close" data-dismiss="alert">×</button>
          <h2><span data-ng-bind="med.nome"></span></h2>
        </div>
      <div id="source-button" class="btn btn-primary btn-xs" style="display: none;">&lt; &gt;</div></div>
    </div>
 <div class="col-lg-12">
    <h2 data-ng-bind="text"></h2>
  </div>

	</div>
</div>