<div class="container">
	<div class="row">
	<div class="col-lg-12">
		<div class="page-header">
		  <h1>Demonstração - <small>TOTVS</small></h1>
		</div>
	</div>
	</div>

	<div class="row">
  <div class="col-lg-12">
  <div class="text-center">
    <div width="400" heght="400" qrcomp style="width:300px;height:250px;" codeproduct="qrproduct"></div>
    <span data-ng-bind="product.nome"></span>
  </div>

<div class="alert alert-warning" role="alert" data-ng-show="text">  
  <span class="sr-only">Alerta:</span>
  <span data-ng-bind="text"></span>
</div>

  </div>	 
  <hr class="col-lg-12"/>
      <div class="col-lg-6 col-mg-6 col-xs-6 col-sm-6" data-ng-repeat="med in meds">
        <div class="bs-component">
          <div class="alert alert-dismissible alert-{{med._class || 'success'}}" >
            <button type="button" class="close" data-dismiss="alert">×</button>
            <h2><span data-ng-bind="med.nome"></span></h2>
          </div>
        <div id="source-button" class="btn btn-primary btn-xs" style="display: none;">&lt; &gt;</div></div>
      </div>    
</div>
