<h1 data-ng-bind="name"></h1>

<h2 data-ng-bind="cargo"></h2>


<div class="bs-component">
  <div class="alert alert-dismissible alert-warning">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <h4>Warning!</h4>
    <p>Best check yo self, you're not looking too good. Nulla vitae elit libero, a pharetra augue. Praesent commodo cursus magna, <a href="#" class="alert-link">vel scelerisque nisl consectetur et</a>.</p>
  </div>
</div>


<a href="#/home2">Clique</a>