<div class="container">
  <div class="row">
  <div class="col-lg-12">
    <div class="page-header">
      <h1>Lista - <small>TOTVS</small> <span data-ng-bind="selected.nome"></span><img data-ng-src="{{selected.img}}" width="100" height="100"></h1>      
    </div>
  </div>
  </div>

  <div class="row">
    <div class="col-lg-12 col-mg-12 col-xs-12 col-sm-12">
      <div class="bs-component">
        <div class="row">
         <div class="list-group">
          <a href="#" class="list-group-item {{med._class}}" data-ng-repeat="med in meds">
            <div class="col-lg-6 col-mg-6 col-xs-6 col-sm-6">
             <h4 class="list-group-item-heading" data-ng-bind="med.nome">List group item heading</h4>
            <p class="list-group-item-text" data-ng-bind="med.posologia"></p>
            </div>
            <div class="col-lg-6 col-mg-6 col-xs-6 col-sm-6 text-right" >
            <img data-ng-src="{{med.img}}" width="100" height="100">
            </div>
            <div class="clearfix"></div>
          </a>
        </div>  
      </div>

      </div>
    </div>  
  
  </div>

  
</div>